
                <ul class="padding16">
                    {% for chapter in site.data.pages %}
                    <li>{{chapter.name}}</li>
                    <li>
                        <ul class="padding16">
                            {% for page in chapter.pages %}
                                {% if page.url contains page.link %}
                                <li><a href="{{site.baseurl}}{{page.link}}" class="navlink | color-hover-bright">{{ page.name }}</a></li>
                                {% else %}
                                <li><a href="{{site.baseurl}}{{page.link}}" class="navlink | color-hover-bright"><u>{{ page.name }}</u></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                
                <script src="{{site.baseurl}}/assets/js/search.js" type="text/javascript"></script>