/*
    id and class selectors, other CSS rules
*/

header,
footer {
    z-index: 999;
} 

#leftNav {
    position: fixed;
    height: calc(100vh - 48px);
    margin-top: 48px;
    overflow-y: auto;
}

.exercise {
    padding: 8px;
    padding-left: 16px;
    border: 1px solid var(--primary);
    border-left: 8px solid var(--primary);
    margin: 16px 0;
}

.pageAction {
    font-weight: 500;
    display: block;
}

#toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#toc ul>li>ul {
    padding-left: 8px;
}

#toc a {
    display: block;
    color: var(--dark);
    padding: 4px;
}

#toc a:hover {
    color: var(--bright);
}

#topNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 3rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#content>main ul,
#content>main ol {
    padding-left: 32px;
}

#content>main ul li,
#content>main ul {
    list-style-type: disc;
}

#content>main ol li,
#content>main ol {
    list-style-type: decimal;
}

#results-container {
    position: absolute;
    right: 0;
    min-width: 250px;
    width: 15%;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.16);
    max-height: 0;
    transition: max-height 0.2s;
}

#search-input:focus~#results-container {
    max-height: 100vh;
}

#topNav .button {
    display: block;
    float: left;
    height: 3rem;
    padding: 1rem;
    cursor: pointer;
    line-height: 1;
}

#topNav .search {
    display: block;
    float: left;
    height: 3rem;
    cursor: pointer;
    line-height: 1;
}

#topNav .search a {
    height: 100%;
    padding: 12px;
}

#topNav .search input[type="text"] {
    border: 1px solid var(--light);
    border-radius: 50px;
    color: var(--light);
    width: 100px;
}

#topNav .search input[type="text"]:focus {
    outline: none;
    background-color: var(--light);
    border-radius: 50px;
    width: 200px;
    color: var(--dark);
    transition: width 0.2s;
}

#topNav .dropdown .dropdownWindow {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    cursor: initial;
}

#topNav .dropdown:hover .dropdownWindow {
    display: block;
}