/*
    class, element, hover selectors + colors, box model, fonts
*/

/* box-model */

.padding4 {
    padding: 4px;
}

.padding8 {
    padding: 8px;
}
 
.padding16 {
    padding: 16px; 
}

.padding32 {
    padding: 32px;
}

/* borders */

.border-hover:hover,
.border {
    border: 1px solid var(--border);
}

/* backgrounds */

.bg-hover-primary:hover,
.bg-primary {
    background-color: var(--primary);
}

.bg-hover-dark:hover,
.bg-dark {
    background-color: var(--dark);
}

.bg-hover-bright:hover,
.bg-bright {
    background-color: var(--bright);
}

.bg-hover-light:hover,
.bg-light {
    background-color: var(--light);
}

.bg-hover-background:hover,
.bg-background {
    background-color: var(--background);
}

/* text colors */

.color-hover-primary:hover,
.color-primary {
    color: var(--primary);
}

.color-hover-dark:hover,
.color-dark {
    color: var(--dark);
}

.color-hover-bright:hover,
.color-bright {
    color: var(--bright);
}

.color-hover-light:hover,
.color-light {
    color: var(--light);
}

.color-hover-background:hover,
.color-background {
    color: var(--background);
}